.nav-wrapper {
    background-color:rgb(133, 210, 216);
}

ul {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
}

a {
    display: flex;
    justify-content: flex-start;
    font-weight: bolder;
    
}